body{
    background-color: aliceblue;
}
    table, tr, td, th {
    border:1px solid #999;
    border-collapse: collapse;
    padding: 5px;
    background-color: blanchedalmond;
}

.container{
/* background-color: azure; */
width: 900px;
border: 1px solid black;
border-radius: 5px;
margin-top: 10px;
}
/* input #fname :invalid {
background-color: lightblue;
}

input #fname :valid {
background-color: white;
} */